@import url("./index.scss");

.section_one {
  position: relative;
  .header_img {
    min-height: 300px;
    height: 100%;
    object-fit: cover;
  }
  .title_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 40%;

    .title_text {
      display: block;
      font-size: 25px;
      font-weight: 700;
      color: #fff;
    }
    .signup_btn {
      margin-top: 30px;
      font-size: 13px;
      padding: 12px 31px;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 576px) {
  .section_one {
    .header_img {
      margin-top: 70px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .section_one {
    .header_img {
      min-height: 600px;
      height: 100%;
    }
    .title_wrapper {
      top: 180px;
      .title_text {
        font-size: 55px;
      }
      .signup_btn {
        margin-top: 90px;
        font-size: 23px;
        color: #fff;
        padding: 26px 64px;
      }
    }
  }
}
